<!doctype html>
<html lang="en">

<head>
  <title>Tipicas cervezas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2>Cervezas de España</h2>
  <h3>Las mejores cervezas españolas</h3>
  <section class="cervezas-varias">
  <img src ="/Images/alhambra.jpeg" alt ="Cerveza Alhambra">
  <img src ="/Images/ambar.jpeg" alt="Cerveza Ambar">
  <img src ="/Images/estrellaGalicia.jpg" alt="Cerveza Galicia">
  <img src ="/Images/mahou.jpeg" alt="Cerveza mahou">
  <img src="/Images/legado.jpg " alt="Cerveza legado y yuste">
  <img src="/Images/cruzcampo.png" alt="Cerveza Cruzcampo">
  </section>
</body>
</html>
