<!doctype html>
<html lang="en">

<head>
  <title>Tipicas cervezas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/....">
</head>

<body>
  <h1>Cervezas de España</h1>
  <h2>Las mejores cervezas españolas</h2>
  <img src ="/Images/alhambra.jpeg" alt ="Cerveza Alhambra">
  <img src ="/Images/ambar.jpeg" alt="Cerveza Ambar">
  <img src ="/Images/estrellaGalicia.jpg" alt="Cerveza Galicia">
  <img src ="/Images/mahou.jpeg" alt="Cerveza mahou">

</body>
</html>
