<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Heebo:700|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>About</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="./about" class="active">About</a></li>
      <li><a href="./gallery">Gallery</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h1>About</h1>
      <p>This is a static site created by Scott Mallinson to showcase Express and Node.</p>
      <p>All photos have been taken by Scott, usually on his travels.</p>
    </section>
  </main>
</body>
</html>