<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="../css/about.css">

</head>
<body>
  <h1>About</h1>
  <section>
    <div class="aboutme">
      <h2>About Me</h2>
      <p>Hi my name is Yvonne and i like funny animaly!</p>
    </div>
    <div class="aboutwebsite">
      <h2>About this site</h2>
      <p>Here you can find a lot of interesting things about funny animals. If you would like to see more funny animal pictures </p>
      <a href="../views/photo.html">Click here!</a>
    </div>
  </section>
</body>
</html>