<!doctype html>
<html lang="en">

<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../CSS styling/style.css">
</head>

<body>
    <nav> 
      <img class="logo" src="/images/logo.jpg">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photo">Photo</a></li>
      </ul>
    </nav>
    <main>
      <h2>Sobre Hooli</h2>
      <p>Hooli es un mercado donde personas de todo el mundo se conectan para crear, vender y comprar productos únicos. </p>
      <p>Nuestra misión es reinventar el comercio entre los artesanos y artistas de manera que ayude a construir un mundo más creativo y original.</p>
      <p>Todos los creativos están en Hooli, en esta aplicación podrás:</p>
      <ul>
        <li>Hablar directamente con los autores de los productos a través de nuestro chat.</li>
        <li>Guardar artículos y tiendas como favoritos para volver a ellos más tarde.</li>
        <li>Explorar las recomendaciones seleccionadas y especialmente pensadas para ti.</li>
        <li>Abrir tu tienda online gratuita, solamente cobramos una pequeña comisión si vendes el producto.</li>
        <li>Personalizar tu tienda, con tu logo y tu branding.</li>
        <li>Asegurar tus cobras y pagos con Paypal y Stripe.</li>
      </ul>

    </main>
  </body>
</html>