<!doctype html>
<html lang="en">

<head>
  <title>Spanish Beers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>La cerveza De Barcelona</h1>
  <section class="cerveza-Damm">
    <img src ="/Images/estrelladamm.jpg" alt ="Cerveza Estrella Damm">
  </section>
  <h3>Elaboración</h3>
    <p>Se elabora a partir de la receta original de 1876, resultado de la combinación de malta de cebada, arroz y lúpulo, con la utilización de ingredientes 100% naturales. Además, estos ingredientes son recolectados y tratados por agricultores y cooperativas locales, a fin de preservar su máxima calidad.
    La cebada es seleccionada y sometida a un proceso de germinación y tostado conocido como “malteado”. A diferencia de muchas cerveceras, Damm tiene su propia maltería, ubicada en Bell Lloch, Lérida, a fin de tener un mayor control del proceso.
    La levadura es otro de los ingredientes importantes en la elaboración de la cerveza. Estrella Damm hace décadas que usa la misma cepa. Si ésta se perdiera o se dañara, el sabor de la cerveza cambiaría, y es por ese motivo que la marca tiene tres reservas de esta levadura guardadas bajo la máxima seguridad: en Barcelona, Valencia y Londres.
    Para aromatizar y proporcionar a la bebida ese amargor característico, se le añade lúpulo, una planta trepadora que, una vez hervida, se encarga de darle a la cerveza su amargor característico, y también sus aromas.
    Fabrica de Estrella Damm
    Posteriormente, Estrella Damm mantiene la cerveza durante tres semanas en los tanques de almacenaje para que fermente y madure hasta alcanzar el punto de sabor deseado; un período superior al de la mayoría cerveceras, que suelen destinar dos semanas al proceso, a fin de abaratarlo.
    La última fase del proceso ya es el envasado. Para ello utiliza tecnologías que eviten la oxidación y la contaminación microbiológica.
    El proceso de elaboración de Estrella Damm dura aproximadamente cuatro semanas. </p>
  <h3>Últimos premios y reconocimientos</h3>
      <ul>
          <li>2015, Nueva York, New York International Beer Competition, Spain Brewery Awards.</li>
          <li>2015, Bélgica, Pils, Superior Taste Award. Dos Estrellas, 87.3 puntos.</li>
          <li>2014, Chicago, World Beer Championships. Medalla de Plata.</li>
          <li>2014, Bélgica, Pils, Superior Taste Award. Dos Estrellas, 83 puntos.</li>
          <li>2014, Reino Unido, Great Taste Award. Una Estrella.</li>
          <li>2013, Bélgica, Superior Taste Award. Premio Cristal</li>
      </ul>
</body>
</html>
