<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galeria</title>
    <link href="https://fonts.googleapis.com/css?family=Aladin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".././style.css">
</head>
<body>
    <div class="blood"></div>
    <header>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <h1 class = "galeria-header">Galeria de la vampira del Raval</h1>
    <div class="galeria-wrapper">
        <img src=".././images/ninos.jpg" alt="">
        <img src=".././images/Enriqueta_Mart.jpg" alt="">
        <img src=".././images/EnriquetaMarti04.jpg" alt="">
        <img src=".././images/enriqueta-marti-casa.jpg" alt="">
        <img src=".././images/Vampiresa-del-Raval-5.jpg" alt="">
    </div>
</body>
</html>