<!doctype html>
<html lang="en">

<head>
  <title>Hermann Hesse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="gallery-container">
    <header>
      <div class="bio-menu-container">
        <h3 class="about-link library-link"><a href="/">home</a></h3>
        <h3 class="gallery-link library-link"><a href="/about">biography</a></h3>
      </div>
    </header>
      <section>
        <div class="book-detail">
          <div class="book-detail-container"><a>cerrar</a></div>
        </div>
        <h2>obras</h2>
        <div class="books-container">
          <section>
            <img src="../images/lobo.jpg"/>
            <h3>El Lobo Estepario</h3>
          </section>
          <section>
            <img src="../images/siddharta.jpg"/>
            <h3>Siddharta</h3>
          </section>
          <section>
            <img src="../images/narciso.jpg"/>
            <h3>Narciso y Golmundo</h3>
          </section>
          <section>
            <img src="../images/demian.jpg"/>
            <h3>Demian</h3>
          </section>
          <section>
            <img src="../images/rosshalde.jpg"/>
            <h3>Rosshalde</h3>
          </section>
          <section>
            <img src="../images/oriente.jpg"/>
            <h3>Viaje al Oriente</h3>
          </section>
        </div>
      </section>
  </div>
  <script src="../javascripts/bookListener.js"></script>
</body>
</html>