<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"  type="text/css" href="../styles/style.css">
</head>

<body>
  <header id="site-header"></header>
  <main id="site-main">
    <h1>Gallery</h1>
    <div id="selected_img">
        <img src="/images/2.jpg" alt="My Home">
        </div>
        <ul id="image_list">
        <li><img src="/images/2.jpg" alt=""></li>
        <li><img src="/images/3.jpg" alt=""></li>
        <li><img src="/images/4.jpg" alt=""></li>
        <li><img src="/images/8.jpg" alt=""></li>
        <li><img src="/images/9.jpg" alt=""></li>
        <li><img src="/images/10.jpg" alt=""></li>
        </ul>
  </main>
  <footer id="site-footer"></footer>
<!-- scripts -->
<script src="/js/client.js"></script>
<script src="/js/gallery.js"></script>
</body>
</html>