<!doctype html>
<html lang="en">

<head>
  <title>Greta's Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../styles/gallery.css">
</head>
<body>
    <div class="container">
        <header>
          <img src="../images/greta-logo2.png">
          <h1>The Wonderful World of Greta</h1>
          <img src="../images/greta-logo2.png">
        </header>
        <nav>
          <h2>Greta's nav</h2>
          <ul>
            <li><a href="../views/home.html">Home</a></li>
            <li><a href="../views/gallery.html">Photo Gallery</a></li>
            <li><a href="../views/about.html">About Greta</a></li>
          </ul>
        </nav>
        <main class="container-gallery">
          <img src="../images/greta1.png" alt="">
          <img src="../images/greta2.png" alt="">
          <img src="../images/greta3.png" alt="">
          <img src="../images/greta4.png" alt="">
          <img src="../images/greta5.png" alt="">
          <img src="../images/greta6.png" alt="">
        </main>
        <footer>
          <h2>Greta's footer</h2>
        </footer>
      </div>
</body>
</html>