<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <h1>Home page</h1>
  <section class="main">
    <p>Rick and Morty is an American adult animated science fiction sitcom created 
      by Justin Roiland and Dan Harmon for Cartoon Network's late-night programming block 
      Adult Swim. The series follows the misadventures of cynical mad scientist Rick Sanchez and his good-hearted but fretful grandson Morty Smith, who split their time between domestic life and interdimensional adventures.</p>

  </section>
</body>
</html>