<!doctype html>
<html lang="en">

<head>
  <title>Spanish Beers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Spanish Beers</h1>
  <section class="linkshome">
  <section>
      
    <img class ="gif" src="/Images/gifcerveza.gif" alt="Gif cerveza">
  </section>
  
  <section>
     <ul>
    <li ><a class="link"href = "/about">Cervezas de España</a></li>
    <li ><a class="link"href = "/estrella">Todo sobre estrella</a></li>
  </ul>
</section>
</section>
</body>
</html>
