<!doctype html>
<html lang="en">

<head>
    <title>Mercedes Benz Models</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body-models">

    <header>
        <nav>
            <a href="/">
                <img src="/img/logo-mercedes.svg" alt="mercedes-benz">
            </a>
            <h1>Mercedes Benz</h1>
            <ul>
                <li>
                    <a href="/models">Models</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="section-models">
        <article class="first-article">
            <h3>A-class</h3>
            <a href="/gallery">
                <img src="/img/a-class.jpeg" alt="Mercedes Benz A-class">
            </a>
        </article>
        <article>
            <h3>CLA-class</h3>
            <a href="">
                <img src="/img/cla-class.jpeg" alt="Mercedes Benz CLA-class">
            </a>
        </article>
        <article>
            <h3>EQC-class</h3>
            <a href="">
                <img src="/img/eqc-class.jpeg" alt="Mercedes Benz EQC-class">
            </a>
        </article>
        <article>
            <h3>G-class</h3>
            <a href="">
                <img src="/img/g-class.jpeg" alt="Mercedes Benz G-class">
            </a>
        </article>
        <article>
            <h3>G-class</h3>
            <a href="">
                <img src="/img/a-class-6.jpeg" alt="Mercedes Benz G-class">
            </a>
        </article>
        <article>
            <h3>G-class</h3>
            <a href="">
                <img src="/img/a-class-7.jpeg" alt="Mercedes Benz G-class">
            </a>
        </article>
        <article>
            <h3>G-class</h3>
            <a href="">
                <img src="/img/a-class-8.jpeg" alt="Mercedes Benz G-class">
            </a>
        </article>
        <article>
            <h3>G-class</h3>
            <a href="">
                <img src="/img/a-class-9.jpeg" alt="Mercedes Benz G-class">
            </a>
        </article>
    </section>
</body>

</html>