<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav>
        <form action="/">
          <button>Home</button>
        </form>
        <form action="/about">
          <button>About</button>
        </form>
        <form action="/gallery">
          <button>Gallery</button>
        </form>
      </nav>
  <h1>404 Not-found</h1>
  <section class="not-found">
      <h2>WHERE ARE YOU GOING TO??????</h2>
      <img src="../images/angry.gif" alt="angry Rick">
  </section>
</body>
</html>