<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
  </header>
  <main>
    <section class="exeption">
        <h2>404 - Reference not fund</h2>
        <p>Try another comand or visit:</p>
        <a href="http://localhost:3000/about"><h2>About My Camara</h2></a>
        <a href="http://localhost:3000/gallery"><h2>See my Photos</h2></a>
    </section>
  </main>
  <footer></footer>
  <script src="../javaScript/estatics.js"></script>
</body>
</html>