<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../css/photos.css">
  <title>Photo Gallery</title>
</head>
<body>
  <h1>Photo Gallery</h1>
  <section id="photo-container">
    
    <div class="photo">
      <img src="../images/butternut2.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut4.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut3.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut1.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut5.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut6.jpg" alt="">
    </div>
    <div class="photo">
      <img src="../images/butternut7.jpg" alt="">
    </div>    
    <div class="photo">
      <img src="../images/butternut8.jpeg" alt="">
    </div>    
    <div class="photo">
      <img src="../images/butternut9.jpg" alt="">
    </div>        
    
  </section>
</body>
</html>