<!doctype html>
<html lang="en">

  <head>
    <title>Swiss Mountains</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header id="site-header">
      <nav>
        <ul>
          <li><a class="list-style" href="/">Home</a></li>
          <li><a class="list-style" href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main id="site-main">
      <div>
        <h1>3 Most Beautiful Mountains in Switzerland</h1>
        <ol>
          <li>
            <h2>Matterhorn</h2>
            <img src="/images/matterhorn.jpg" alt="m">
          </li>
          <li>
            <h2>The Monte Rosa Massif</h2>
            <img src="/images/monte-rossa.jpg" alt="monte rossa image">
          </li>
          <li>
            <h2>Mount Rigi</h2>
            <img src="/images/rigi.jpeg" alt="rigi mount">
          </li>
        </ol>
      </div>
    </main>
  </body>
</html>