<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Hachikō's pics - the best boy ever</title>
</head>
<body>
  <nav>
      <span class="nav">

        <a href="/">Home</a>
        <a href="/about">About</a>
        <a class="blue" href="/pics">Pictures</a>
        <a href="/404">404</a>
        
        </span>
  </nav>
  <h1>Hachikō</h1>
  <div class="container">
    <figure><img class="hover09 gallery-pics" src="../img/hachiko2.jpg"/></figure>
    <figure><img class="hover09 gallery-pics" src="../img/hachiko-movie.jpg"/></figure>
    <figure><img class="hover09 gallery-pics" src="../img/hachiko3.jpg"/></figure>
    <figure><img class="hover09 gallery-pics" src="../img/hachiko4.jpg"/></figure>
    <figure><img class="hover09 gallery-pics" src="../img/hachiko6.png"/></figure>
</div>

</body>
</html>