<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>photos</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header class="header">
    <h1>Cat Pics</h1>
    <nav class="navbar">
      <ul class="nav-li">
        <li><a href="/home">Cats</a></li>
        <li><a href="/aboutme">About</a></li>
        <li class="link-active"><a>Photos</a></li>
      </ul>
    </nav>
  </header>
  <section>
      <h3>Just watch!</h3>
      <img src="../img/funny-cat.jpg" alt="cat01">
      <img src="../img/cat-scared.jpg" alt="cat02">
      <img src="../img/catssaur.jpg" alt="cat03">
      <img src="../img/balckcat.jpeg" alt="cat04">
    </section>
</body>
</html>