<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>
    <h1 id="change">4</h1>
    <h1 class="not">404 NOT FOUND</h1>

    <div class="llama-gif">
            <iframe src="https://giphy.com/embed/PGo2Kn0O4YOYg" width="480" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/funny-deal-with-it-PGo2Kn0O4YOYg"></a></p>
    </div>
     <script src="/type.js"></script>
</body>
</html>