<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Montseny</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>404</h1>
        </div>
        <h2>Oops! This Page Could Not Be Found</h2>
        <p>
          Sorry but the page you are looking for does not exist, have been
          removed. name changed or is temporarily unavailable
        </p>
      </div>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
