<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="nav-bar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
  </section>
  <section class="main">
    <h1>¿ Would you like to know more ABOUT US ?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ducimus harum similique obcaecati ex eum iste
      beatae dolorum. Dolor nobis placeat voluptatem quasi id enim, ex ab natus beatae facere.</p>
  </section>

  <script src="/app.js"></script>
</body>

</html>