<% include partials/header %>

<section class="about-section">
  <h1>About</h1>
  <button class="about-button">Click Me</button>
  <div class="about-p-container">
      <p class="about-text">Hi my name is Tomas, I am an Iron Hack student (kind of). This is my first express "app" (why not?). The font size is huge cause I dont know how to use all the space.</p>
  </div>
  <div class="about-section-links">
    <a class="about-links" href="http://localhost:3010/">Home</a>
    <a class="about-links" href="http://localhost:3010/gallery">Gallery</a>
  </div>
</section>



<% include partials/footer %>