<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Montseny</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Montseny tours</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in
      fermentum nisl, vel mollis est. Fusce pellentesque, mauris eu consectetur
      consequat, mi elit ultrices magna, eget vulputate massa nisl quis tellus
    </p>
    <img src="/images/Montseny.jpg" />

    <a href="/">Back to Home</a>
  </body>
</html>
