<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body class="body-back container-galery">
    <img class="title" src="/images/titulo.png" alt="Logo star wars">
    <ul class="links">
        <a href="/">Home</a></li>
        <a href="/about">About</a></li>
        <a href="/galery">Galery</a></li>
    </ul>
    <section class="parrafos">
        <div class="historia texto_historia">
            <p>La trama descrita en las nueve películas que componen la serie principal de Star Wars relata las
                vivencias de la familia Skywalker,11​ «hace mucho tiempo en una galaxia muy muy lejana»,12​ quienes
                comparten la peculiaridad de ser sensibles a «La Fuerza», lo cual les permite desarrollar habilidades
                como la telequinesis, la clarividencia y el control mental, entre otras.

                En la «trilogía de precuelas», se describe el entrenamiento del joven Anakin Skywalker bajo la tutela
                del maestro Jedi Obi-Wan Kenobi, durante una época de inestabilidad política derivada de una disputa
                entre la República Galáctica y la Federación de Comercio. El ataque por parte de un ejército de droides
                motiva al Senado Galáctico a concederle poderes extraordinarios al canciller Palpatine, que mantiene en
                secreto su identidad como el Sith Darth Sidious para incitar las Guerras Clon, derrocar el sistema
                republicano y fundar el Imperio Galáctico bajo su comando..</p>
        </div>
    </section>
</body>

</html>