<!doctype html>
<html lang="en">

<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
</head>

<body id="about">

  <h1>About</h1>

  <section class="about">
    <article class="bio">
      <img src="/public/img/child.png" alt="child">
      <h3>Biografia</h3>
      <p class="bio">Lionel Messi nació el 24 de junio de 1987 en la ciudad de Rosario, en la provincia de Santa Fe.Con apenas cuatro años, Messi dio sus primeros pasos en el club Abanderado Grandoli, ubicado al sur de Rosario.</p>
    </article>

    <article class="barsa">
      <img src="/public/img/fcb.png" alt="barsa">
      <h3>FCB</h3>
      <p class="barsa">Messi llegó a Barcelona el 17 de septiembre de 2000, para realizar las pruebas en las instalaciones de La Masía.​ A los tres meses, el 14 de diciembre, se produjo la firma en una servilleta, como contrato. <br> Debutó con el primer equipo el 16 de noviembre de 2003, en un partido amistoso contra el Porto.</p>
    </article>

    <article class="afa">
      <img src="/public/img/afa.png" alt="afa">
      <h3>AFA</h3>
      <p class="afa">En 2004 declinó la oferta de jugar para la selección española y decidió ser jugador de la selección argentina. <br> En junio de 2004 hizo su primera aparición con la selección argentina en la categoría Selección de fútbol sub-20 de Argentina en un partido amistoso contra Paraguay.</p>
    </article>

    <article class="palmares">
      <img src="/public/img/trophy.png" alt="trophy">
      <h3>Palmares</h3>
      <ul class="españa">
        <li>9 ligas</li>
        <li>8 Supercopas de españa</li>
        <li>6 Copas del rey</li>
      </ul>

      <ul class="internacionales">
        <li>4 Champions League</li>
        <li>3 Supercopas de Europa</li>
        <li>3 Mundiales de Clubes</li>
      </ul>

      <ul class="afa">
          <li>Medalla de oro olímpica</li>
          <li>Mundial sub 20 con Argentina</li>
      </ul>

      <ul class="individuales">
        <li>5 FIFA Ballon d'Or</li>
        <li>4 Botas de oro</li>
        <li>1 FIFA World Player</li>
        <li>3 Onze d'Or</li>
        <li>4 Botas de Oro</li>
        <li>2 Golden Boy</li>
        <li>5 veces 'Pichichi' en Liga</li>
        <li>5 veces 'Pichichi' en la Champions</li>
        <li>3 veces jugador del año en la UEFA</li>
      </ul>
    </article>

</section>
</body>
</html>









