<% include partials/header %>



<button class="home-button"><a href="http://localhost:3010/">Home</a></button>
<button class="gallery-button"><a href="http://localhost:3010/gallery">Gallery</a></button>

<% include partials/footer %>