<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <section id="cities">
        <h1>Main cities</h1>
        <div id="cities-container">
            <article class="city">
                <h3 class = "los-angeles">Los Angeles</h3>
                <div class="underground">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur voluptatum obcaecati totam, quam veritatis nisi neque saepe consequatur. Exercitationem nostrum iusto veritatis qui quos laudantium dolore. Molestiae ducimus deserunt doloribus?</p>
                </div>
            </article>
            <article class="city">
                <h3 class="san-francisco">San Francisco</h3>
                <div class="underground">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur voluptatum obcaecati totam, quam veritatis nisi neque saepe consequatur. Exercitationem nostrum iusto veritatis qui quos laudantium dolore. Molestiae ducimus deserunt doloribus?</p>
                </div>
            </article>
            <article class="city">
                <h3 class= "san-diego">San Diego</h3>
                <div class="underground">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur voluptatum obcaecati totam, quam veritatis nisi neque saepe consequatur. Exercitationem nostrum iusto veritatis qui quos laudantium dolore. Molestiae ducimus deserunt doloribus?</p>
                </div>
            </article>
        </div>
    </section>
</body>
</html>