<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, width=device-width"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cristina Hernández Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <!--Here the content starts-->
    <div id="error-container">
      <section>
        <div class="error">
          <p><img src="img/ch_404.png" alt="ERROR 404" width="600" /></p>
          <h1>ERROR 404 - OOOPS!</h1>
          <h4>Your search has melted down</h4>
          <div class="load-button">
            <a href="/">Back to home</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
