<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body class="body-error">
    <h6>Ohhh Jeeezz!! it is an</h6>

    <div class="error">
        <h4>4</h4>
        <img src="/images/pngguru.com-id-aovaz.png">
        <h4>4</h4>
    </div>
</body>
</html>
        
       