<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body class="body-back container-galery">
    <img class="title" src="/images/titulo.png" alt="Logo star wars">
    <ul class="links">
        <a href="/">Home</a></li>
        <a href="/about">About</a></li>
        <a href="/galery">Galery</a></li>
    </ul>
    <div class="direction-img">
        <div class="div-img zoom">
            <img src="/images/obione.jpg" alt="obi-wan">

            <span>Obi-wan kenobi</span>
        </div>
        <div class="div-img zoom">
            <img src="/images/yoda.jpg" alt="yoda">
            <span>Yoda</span>
        </div>
        <div class="div-img zoom">
            <img src="/images/luke.jfif" alt="luke">
            <span>luke skywalker</span>
        </div>
        <div class="div-img zoom">
            <img src="/images/maestrowindu.jpg" alt="mace windu">
            <span>Maestro windu</span>
        </div>
    </div>

</body>

</html>