<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <h1>Galery</h1>
    <main>
        <article>
            <img src="RICKMORTY_37_-_4x6_COVER_B_SOLICIT_WEB_1024x1024" alt="rick and mort image">
        </article>
        <article>
            <img src="" alt="">
        </article>
        <article>
            <img src="" alt="">
        </article>
        <article>
            <img src="" alt="">
        </article>
    </main>
</body>
</html>