<% include partials/header %>

<button class="home-button"><a href="http://localhost:3010/">Home</a></button>
<button class="about-button"><a href="http://localhost:3010/about">About</a></button>

<% include partials/footer %>