<% include partials/header %>

<section class="gallery-section-container">
  <div class="photo-container">
    <img id="picture" src="/images/cat-two.jpg" alt="">
  </div>
  <div class="gallery-links-container">
    <a class="gallery-links" href="http://localhost:3010/">Home</a>
    <a class="gallery-links" href="http://localhost:3010/about">About</a>
  </div>
</section>

<% include partials/footer %>