<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>
        <ul>
                <li><a href="/">Home</a> </li>
                <li><a href="/about">About</a> </li>
                <li><a href="/gallery">Gallery</a> </li>
            </ul>

    <div class="llama-gallery">
    <h1>DRAMAS & LLAMAS</h1>
         <div class="row3">
                        <img src="/images/llama-gallery1.jpg"> 
                        <p class="text"> no</p>
                        <img src="/images/llama-gallery2.jpg"> 
                        <p class="text"> drama</p>
                        <img src="/images/llama-gallery3.jpg"> 
                        <p class="text"> llama </p>

         </div>
         
         <div class="row3">
                        <img src="/images/llama-gallery4.jpg"> 
                
            
                        <img src="/images/llama-gallery5.png"> 
            
                        <img src="/images/llama-gallery6.jpg"> 

              </div>
   
    </div>

</body>
</html>