<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet"> 
</head>

<body>
  <img class="tesla-logo" src="/images/logo-tesla.png">
  <h1>TESLA</h1>
  <h2>Electric cars</h2>
  <section class="buttons">
    <a href="/modelS">Model S</a>
    <a href="/modelX">Model X</a>
    <a href="/model3">Model 3</a>
    <a href="/modelY">Model Y</a> 
    <a href="/about">About</a>
  </section>
 
</body>
</html>