<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.png" type="image/gif" sizes="32x32">
    <title>Duoglas Adams Fan Site</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">DOGLAS ADAMS</a></li>
            <li><a href="/gallery">BOOKS</a></li>
            <li><a href="/error">404</a></li>
        </ul>
    </nav>
    <section>
        <h1>42</h1>
        <p>Fan page sobre el autor que se atrevío a proporcionar una respuesta para la pregunta sobre el sentido de la vida, el universo y todo lo demás.</p>
    </section>
</body>
</html>