<% include partials/header %>


<h1>Welcome to the home page</h1>

<button class="about-button"><a href="http://localhost:3010/about">About</a></button>
<button class="gallery-button"><a href="http://localhost:3010/gallery">Gallery</a></button>



<% include partials/footer %>