<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Montseny Travel Agency</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Montseny travel agency</h1>
    <h2>Travel experiences to remembrer!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in
      fermentum nisl, vel mollis est. Fusce pellentesque, mauris eu consectetur
      consequat, mi elit ultrices magna, eget vulputate massa nisl quis tellus
    </p>

    <ul>
      <li><a href="/montseny">About Montseny</a></li>
      <li><a href="/gallery">Photos of Montseny</a></li>
      <li><a href="/not-found">Oops! This Page Could Not Be Found</a></li>
    </ul>

    <!-- <a href="/montseny">About Montseny</a> -->
    <!-- <a href="/gallery">Photos of Montseny</a> -->
    <!-- <a href="/not-found">Oops! This Page Could Not Be Found</a> -->
  </body>
</html>
