<% include partials/header %>

<section class="section-one">
  <h1>Welcome</h1>
  <section class="section-one-buttons"> 
    <button class="about-button">
      <a href="http://localhost:3010/about">About</a>
    </button>
    <button class="gallery-button">
      <a href="http://localhost:3010/gallery">Gallery</a>
    </button>
  </section>
</section>

<% include partials/footer %>
