<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body class="body-back">
    <div class="container-home">
        <img class="title" src="/images/titulo.png" alt="Logo star wars">

        <ul class="links">
            <a href="/">Home</a></li>
            <a href="/about">About</a></li>
            <a href="/galery">Galery</a></li>
        </ul>

    </div>

</body>

</html>