<% include partials/header %>

<section class="home-section">
  <h1>Welcome</h1>
  <section class="home-section-links">
    <a class="home-links" href="http://localhost:3010/about">About</a>
    <a class="home-links" href="http://localhost:3010/gallery">Gallery</a>
  </section>
</section>

<% include partials/footer %>
