<!doctype html>
<html lang="en">

<head>
  <title>Lionel Andres Messi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="icon" href="img/icon-messi.png" type="image/x-icon"/>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="index">
    <nav class="nav-bar">
        <a href="/" style="text-decoration:none">Home</a>
        <a href="/about" style="text-decoration:none">About</a>
        <a href="/photo-gallery" style="text-decoration:none">Gallery</a>
    </nav>
    <h1 id="name">Lionel Messi</h1>
    <h2 id="slog">Mas que un diez</h2>
  </main>
</body>
</html>