<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee Outline"
      rel="stylesheet"
    />
    <title>Victor Camarena Ballester</title>
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="logo-wrapper">
          <!--<img src="img/logo.jpg" width="130">-->
        </div>
        <div class="nav-wrapper">
          <nav>
            <a href="/">Home</a> | <a href="/porfolio">Porfolio</a> |
            <a href="/about">About</a>
          </nav>
        </div>
      </header>
      <h1 class="myname">Victor Camarena Ballester</h1>
      <div class="content">
        <div class="left-content">
          <div class="code">< code ></div>
          <div class="left-text">
            Hi, i'm software developer for years. Entrepreneur, daring, tireless
            and insatiable. I love programming.
          </div>
        </div>
        <div class="right-content">
          <section class="hello">
            <h2>Welcome!</h2>
            <p>
              This is my portfolio. Hope you like!
            </p>
          </section>
          <section class="habilities">
            <!--<ul>
              <li>
                <div class="hability-block">
                  <h3>FrontEnd</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    
                  </p>
                </div>
              </li>
              <li>
                <div class="hability-block">
                  <h3>BackEnd</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    maximus et.
                  </p>
                </div>
              </li>
              <li>
                <div class="hability-block">
                  <h3>Others</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at
                    dolor elit. 
                  </p>
                </div>
              </li>
            </ul>-->
            <div class="plus-image-wrapper"><img src="img/plus.png" /></div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
