<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">
    
            <img src="/images/navimg.png" class="navlogo" />
    
        </a>
        <div class="hiperlink">
            <a href="/about">About</a>
            <a href="/gallery">galleries</a>
        </div>
    </nav>
    <div class="homeimage">
        <h1>wathever time!</h1>
        <img src="/images/rickqte.jpg">
    </div>
</body>
</html>