<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.png" type="image/gif" sizes="32x32">
    <title>Duoglas Adams Fan Site</title>
</head>
<body>
    <h1>not found</h1>
    <p>Otra cosa que se olvidó fue el hecho de que, contra toda probabilidad, se había creado una ballena a varios Kilómetros por encima de la superficie de un planeta extraño. Y como, naturalmente, ésa no es una situación sostenible para una ballena, la pobre criatura inocente tuvo muy poco tiempo para acostumbrarse a su identidad de ballena antes de perderla para siempre. <br>
    Esta es una relación completa de sus pensamientos desde el instante en que comenzó su vida hasta el momento en que terminó. <br>
    «¡Ah…! ¿Qué pasa? -pensó. <br>
    »Hmm, discúlpeme, ¿quién soy yo? <br>
    »¿Hola? <br>
    » ¿Por qué estoy aquí? ¿Cuál es el objeto de mi vida? <br>
    »¿Qué quiere decir quién soy yo? <br>
    »Tranquila, cálmate ya… ¡Oh, qué sensación tan interesante! ¿Verdad? Es una especie de… bostezante, hormigueante sensación en mi… mi…. bueno, creo que será mejor empezar a poner nombre a las cosas si quiero abrirme paso en lo que, por mor de lo que llamaré un argumento, denominaré mundo, así que diremos en mi estómago.
    »Bien. ¡Oooh, esto marcha muy bien! Pero ¿qué es ese ruido grandísimo y silbante que me pasa por lo que de pronto voy a llamar la cabeza? Quizá lo pueda llamar… ¡viento! ¿Es un buen nombre? Servirá…, tal vez encuentre otro mejor más adelante, cuando averigüe para qué sirve. Debe ser algo muy importante, porque desde luego parece haber muchísimo. ¡Eh! ¿Qué es eso? Eso…, llamémoslo cola; sí, cola. ¡Eh! Puedo sacudirla muy bien, ¿verdad? ¡Vaya! Uy! ¡Qué magnífica sensación! No parece servir de mucho, pero ya descubriré más tarde lo que es. ¿Ya me he hecho alguna idea coherente de las cosas? <br>
    »No. <br>
    »No importa porque, oye, es tan emocionante tener tanto que descubrir, tanto que esperar, que casi me aturde la impaciencia. <br>
    »¿O el viento? <br>
    »¿Verdad que ahora hay muchísimo? <br>
    »¡Y de qué manera! ¡Eh! ¿Qué es eso que viene tan de prisa hacia mí? Muy deprisa. Tan grande, tan plano y redondo que necesita un gran nombre sonoro, como… sueno… ruedo… ¡suelo! ¡Eso es! Ese sí que es un buen nombre: ¡suelo! <br>
    »Me pregunto si se mostrará amistoso conmigo. <br>
   <span>» Y el resto, tras un súbito golpe húmedo, fue silencio.</span> </p>
</body>
</html>