<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>

<body>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        nav {
            box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.5);
        }

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            background-color: dodgerblue;
            margin: 0;
            padding: 20px 0 15px;
        }

        li {
            padding-right: 30px;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 30px;
        }
        a:hover {
            text-decoration: underline;
        }

    </style>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/photo">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Gallery</h1>
        <p>Cupcake ipsum dolor. Sit amet fruitcake tootsie roll. Dessert pie tootsie roll cake marzipan jujubes dragée. Gingerbread chocolate cake donut dragée. Danish chocolate cake sweet roll macaroon donut gingerbread. Cake pie icing cupcake cheesecake. Fruitcake chupa chups bonbon cotton candy gummi bears candy. Chocolate jelly beans candy candy canes candy powder macaroon caramels liquorice. Candy canes sweet roll powder cotton candy. Macaroon wafer dragée wafer jelly-o pastry ice cream. Pudding croissant cheesecake. Gummi bears lemon drops cheesecake. Donut tootsie roll topping jelly beans halvah biscuit pudding. Sweet roll chocolate cake muffin.

                Pudding biscuit pastry cotton candy soufflé pudding cupcake carrot cake cookie. Candy sugar plum pastry sesame snaps lemon drops. Chocolate bar tart chocolate bar. Jelly toffee chupa chups. Cheesecake sweet muffin cheesecake cookie tart ice cream cotton candy caramels. Jelly beans candy bonbon icing sugar plum chocolate. Cheesecake jelly-o cake donut. Sweet roll apple pie tiramisu. Marshmallow tart muffin. Pudding dragée halvah jelly-o. Sweet powder topping wafer chocolate cake sugar plum. Candy tart pie chupa chups chocolate cake candy tart soufflé.
                
                Toffee chocolate sugar plum. Candy dessert cookie. Cookie apple pie cupcake sweet gummies. Liquorice lemon drops chocolate. Apple pie jujubes tart topping soufflé donut. Cake caramels jujubes jujubes. Cake donut cake dessert. Halvah sesame snaps fruitcake. Gummi bears pie bonbon gingerbread. Cotton candy tart topping. Topping toffee lollipop dessert. Chocolate cake marshmallow bear claw chupa chups candy gingerbread. Cupcake chocolate halvah bonbon chocolate cake toffee pastry gummi bears candy. Bear claw halvah candy canes tiramisu ice cream.
                
                Cheesecake lollipop sesame snaps tiramisu cupcake. Jelly apple pie cake tart. Powder wafer bonbon. Bonbon bear claw tiramisu dragée chupa chups gingerbread icing chocolate bar halvah. Tootsie roll danish jujubes soufflé. Gummi bears sesame snaps marshmallow marzipan cake icing soufflé tootsie roll. Bonbon sugar plum jujubes bonbon apple pie chocolate cake tart cake cake. Dragée muffin oat cake icing croissant brownie chupa chups oat cake tootsie roll. Pie danish lemon drops. Cupcake tiramisu topping sugar plum soufflé. Tootsie roll chocolate bar cupcake tootsie roll sweet cake fruitcake apple pie. Jelly-o caramels candy gingerbread marshmallow. Cotton candy jelly cotton candy cookie liquorice croissant marshmallow ice cream. Dessert jelly beans cupcake bonbon.
                
                Cake cotton candy toffee chocolate toffee dessert halvah fruitcake candy. Chupa chups dessert brownie caramels croissant topping. Lollipop chupa chups sweet roll pastry cake. Tart lollipop caramels cake sweet roll chocolate powder icing. Lemon drops gingerbread pie muffin toffee jujubes. Gummies caramels croissant wafer gummi bears caramels. Gummi bears chocolate gummi bears pastry apple pie bear claw pastry candy. Biscuit tart gingerbread donut cupcake pastry danish gummi bears. Tart sesame snaps pudding. Gingerbread cake dragée candy canes pastry caramels dragée carrot cake apple pie. Marshmallow pudding danish jelly-o halvah. Fruitcake pastry chupa chups jelly beans jelly-o jelly-o icing jelly gummi bears.</p>
    </main>


</body>

</html>