<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/porfolio.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="logo-wrapper">
          <!--<img src="img/logo.jpg" width="130">-->
        </div>
        <div class="nav-wrapper">
          <nav>
            <a href="/">Home</a> | <a href="/porfolio">Porfolio</a> |
            <a href="/about">About</a>
          </nav>
        </div>
      </header>
      <div class="content">
        <div class="title"><h1>Porfolio</h1></div>
        <div class="ironhack">
          <div class="sectiontitle">IronHack Projects</div>
          <div class="project">
            <div class="img-wrapper">
              <a
                href="https://victor-camarena-ballester.github.io/arkanoid/"
                target="_blank"
                ><img class="imgarkanoid" src="img/arkanoid.png"
              /></a>
            </div>
            <div class="arkanoid">
              <div class="title">ARKANOID</div>
              <div class="text">
                El famoso juego pero desarrollado con js y canvas.
              </div>
            </div>
          </div>
        </div>
        <div class="other">
          <div class="sectiontitle">Other projects</div>
          <div class="project">
            <div class="retto">
              <div class="title">RETTO.COM</div>
              <div class="text">
                Tienda Online para amantes del ciclismo.
              </div>
            </div>
            <div class="img-wrapper">
              <a href="https://www.retto.com" target="_blank"
                ><img class="imgarkanoid" src="img/retto.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
