<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, width=device-width"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cristina Hernández Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <!--Here the content starts-->
    <div id="container">
      <!--Header-->
      <header>
        <a href="/"><img src="img/logo2.png" alt="Cristina Hernández"/></a>
      </header>
      <!--Here the menu-->
      <nav>
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About me</a></li>
          <li><a href="/projects" class="current">Projects</a></li>
        </ul>
      </nav>

      <!--Projects-->
      <section>
        <div class="projects-title">
          <h2>My projects</h2>
        </div>
        <div id="projects-container">
          <div class="project">
            <a href="#">
              <img src="img/ch_cover_santogal.jpg" alt="Santogal" />
              <h3>Santogal</h3>
              <span>Web</span>
            </a>
          </div>
          <div class="project">
            <a href="#">
              <img
                src="img/ch_cover_fisiosport_branding.jpg"
                alt="Fisiosport Vic"
              />
              <h3>Fisiosport</h3>
              <span>Branding</span>
            </a>
          </div>
          <div class="project">
            <a href="#">
              <img src="img/ch_cover_edda.gif" alt="El dado del arte" />
              <h3>El dado del arte</h3>
              <span>Branding</span>
            </a>
          </div>
          <div class="project">
            <a href="#">
              <img src="img/ch_cover_emagister.jpg" alt="Emagister" />
              <h3>Emagister Newsletters</h3>
              <span>Web</span>
            </a>
          </div>
          <div class="project">
            <a href="#">
              <img src="img/ch_cover_fisiosport_web.jpg" alt="Fisiosport Vic" />
              <h3>Fisiosport</h3>
              <span>Web</span>
            </a>
          </div>
          <div class="project">
            <a href="#">
              <img src="img/ch_cover_laplaca.jpg" alt="La plaça" />
              <h3>La Plaça</h3>
              <span>Branding</span>
            </a>
          </div>
        </div>
        <!--Load more-->
        <div class="load-button">
          <a href="/projects">Load more</a>
        </div>
      </section>
      <!--Footer-->
      <footer>
        <!--Follow me-->
        <div>
          <p>Get in touch with me:</p>
          <h2>
            <a href="mailto:cris@crishernandez.com">cris@crishernandez.com</a>
          </h2>
          <p>Or follow my steps on social media:</p>
          <ul>
            <li>
              <a href="https://twitter.com/mcrishernandez" target="_blank"
                >Twitter</a
              >
            </li>
            <li>
              <a href="#" target="_blank">Dribble</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/mcristinahernandez/"
                target="_blank"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
