/*font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/*Font to be used for Hebrew*/
/*@import url("https://fonts.googleapis.com/css?family=Rubik:300&display=swap&subset=cyrillic,hebrew,latin-ext");*/

/*Google Fonts, Cyrillic, Hebrew*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  min-height: 100%;
  background-color: #f5f0f9;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 45px;
  text-align: center;
}
h2 {
  font-size: 1.15rem;
  line-height: 35px;
}

.lila {
  border-bottom: 3px solid #ac79cb;
}

.lila-nav {
  border-bottom: 3px solid #ac79cb;
}

.footer-line {
  border-top: 3px solid #ac79cb;
  margin-top: 35px;
  margin-bottom: 15px;
}

.page-line {
  border-top: 3px solid #ac79cb;
  margin-top: 35px;
  margin-bottom: 15px;
}

#hello,
#projects,
#about-me,
footer,
.lila {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-title {
  display: flex;
  justify-content: center;
}

.project-flex {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 20px;
}
