/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
}

/*GRID SYSTEM*/

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/*NAVBAR*/
nav {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
}
.topnav {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .topnav {
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.topnav > a {
  padding: 15px;
  color: white;
}
/*JUMBOTRON*/
.jumbotron {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
}
.cv-picture {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20%;
}
.cv-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.textarea-jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
.headline {
  margin: 0;
  color: white;
  padding: 3px 10px;
}
.personal-info {
  color: white;
  padding: 3px 10px;
  margin-top: 10px;
}
li {
  list-style-type: none;
}
h1 {
  margin: 0;
  text-align: center;
}
h3 {
  margin: 0;
  text-align: center;
  margin-top: 10px;
}
.sm-icons {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: row;
  margin: 0px 40%;
  margin-top: 10px;
}

#github {
  max-width: 100%;
  max-height: 100%;
}
#linkedin {
  max-width: 100%;
  max-height: 100%;
  margin-left: 15px;
}

/*SECTIONS*/
hr {
  margin: 15px 0px;
}
h2 {
  padding: 10px;
}
/*SECTION 1*/
.presentation {
  margin-left: 0%;
  margin-right: 0%;
}
@media only screen and (min-width: 768px) {
  .presentation {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.section-description {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .section-description {
    padding: 10px;
    text-align: justify;
  }
}
.download-cv {
  background-color: rgb(109, 86, 193);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  margin: 10px;
}
/*SECTION RESUME*/
.resume {
  margin-left: 0%;
  margin-right: 0%;
}
@media only screen and (min-width: 768px) {
  .resume {
    margin-left: 10%;
    margin-right: 10%;
  }
}
h4 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  padding: 10px;
}
.university {
  padding: 10px 15px;
  text-transform: uppercase;
  color: #6d56c1;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  padding-bottom: 5px;
}
.uni-dates {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding-bottom: 10px;
  padding-left: 25px;
}
.uni-description {
  padding-left: 25px;
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 20px;
}
/*SECTION PORTFOLIO*/
.portfolio-header {
  margin-left: 0%;
  margin-right: 0%;
}
@media only screen and (min-width: 768px) {
  .portfolio-header {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  .portfolio {
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.project {
  height: 200px;
  width: 300px;
  margin: 10px 20px;
}
.project > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.project > div {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
