* {
  box-sizing: border-box;
}
/* ---------HOME--------- */

h1 {
  margin: 0;
  padding: 0.5rem 0;
  color: white;
}
.title {
  width: 100%;
  text-align: center;
}
.container-title {
  display: flex;
  flex-direction: row;
  background-color: #1e2434;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-iron {
  padding-left: 0.7em;
}
.container-central {
  width: 100%;
}
.container2 {
  width: 100%;
  text-align: center;
}
.container1 {
  width: 100%;
  margin-top: 88px;
}
.foto {
  width: 100%;
}
.navbar {
  background-color: lightblue;
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #1e2434;
  padding-bottom: 1rem;
}
ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}
li {
  list-style: none;
  padding: 0 1rem;
}
li a {
  color: black;
  text-decoration: none;
}
.title-2 {
  display: inline;
}
.title-3 {
  display: inline;
}
.description {
  padding: 1em;
  text-align: center;
}
.container {
  text-align: center;
  padding-top: 1rem;
}

/* ---------FIN ----- HOME--------- */

/* ---------PORTFOLIO-------------- */
.portfolio-title2 {
  text-align: center;
  margin-top: 6rem;
}
.container-portfolio {
  margin-bottom: 6rem;
}
.portfolio-card {
  /* width: 100%; */
  text-align: center;
  border: 1px solid #1e2434;
  border-radius: 6px;
  margin: 0 0.6em 1em 0.6em;
}
.wrapper-img {
  text-align: center;
}
.img-portfolio {
  width: 90%;
}

/* ---------FIN ----PORTFOLIO-------------- */

/* ---------HOME--------- */
@media only screen and (min-width: 426px) {
  .container-central {
    width: 100%;
  }
  .container2 {
    width: 50%;
  }
  .foto {
    width: 75%;
  }
  .container {
    width: 50%;
    padding-top: 7rem;
  }
  .container,
  .container2 {
    margin-top: 5rem;
  }
  .container-central {
    display: flex;
    flex-direction: row;
  }
  /* ---------FIN-------HOME--------- */

  /* -----------POTFOLIO ------------ */
  .portfolio-card {
    width: 45%;
  }
  .container-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
