<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <title>Gallery</title>
</head>
<body>
    <main>
        <header>
            <div class="header">
              <div class="header-right">
                  <div class="logo"></div>
                  <a class="active" href="index.html">Home</a>
                  <a href="about.html">About Me</a>
                  <a href="gallery.html">Gallery</a>
                  <a href="404.html">404 vibes</a>
                </div>
              </div>
        </header>
        <section>
    <div class="desc">
      <h1>About Me</h1>
      <p>The Penguin (Oswald Chesterfield Cobblepot) is a fictional supervillain appearing in comic books published by DC Comics, commonly as an adversary of the superhero Batman. The character made his first appearance in Detective Comics #58 (December 1941) and was created by Bob Kane and Bill Finger.[1] The Penguin is one of Batman's most enduring enemies and belongs to the collective of adversaries that make up Batman's rogues gallery.</p>
    </div>
        </section>
        <footer>
            <p>Posted by: some pinguin</p>
            <p>Call <span>+34888382956329</span> for stickers</p>
    
            <p>Contact information: <a href="">
            some_pinguin@example.com</a>.</p>
          </footer>
      </main>

</body>
</html>