<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
          <div class="header-right">
              <div class="logo"></div>
              <a class="active" href="index.html">Home</a>
              <a href="about.html">About Me</a>
              <a href="gallery.html">Gallery</a>
              <a href="404.html">404 vibes</a>
            </div>
          </div>
    </header>
    <div class="images">

        <ul>
          <li><img  class="ima" src="../image/img_1.jpg"></li>
          <li><img  class="ima" src="../image/img_2.jpg"></li>
          <li><img  class="ima" src="../image/img_3.jpg"></li>
          <li><img  class="ima" src="../image/img_4.jpg"></li>
          <li><img  class="ima" src="../image/img_5.jpg"></li>
          <li><img  class="ima" src="../image/img_6.jpg"></li>
          <li><img  class="ima" src="../image/img_9.jpg"></li>
          <li><img  class="ima" src="../image/img_10.jpg"></li>
          <li><img  class="ima" src="../image/img_11.jpg"></li>
          <li><img  class="ima" src="../image/img_13.jpg"></li>
          <li><img  class="ima" src="../image/img_15.jpg"></li>
          <li><img  class="ima" src="../image/img_17.jpg"></li>
        </ul>
      </div>

</body>
</html>