body {
  background-image: url("./images/homepage.jpg");
  height: 100vh;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

.main {
  text-align: center;
  color:lightblue;
}

.img-section{
  display: grid;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;


}

.img-section img{
width: 100%;
border: 5px solid white;
}

.about-page{
  color: lightblue;
  text-align: center;
}

.not-found {
  color:skyblue;
  text-align: center;
}
.not-found img{
  width: 50%;
}