<!DOCTYPE html>
<html>
  <head>
    <title>Tash Tenner - Developer & Linguist</title>
    <meta charset="utf-8" />
    <!--Viewport meta tag allows us to control the viewport’s size and scale.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--CSS, reset, normalize, main-->
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header class="nav">
        <ul class="ul">
          <li class="li"><a href="/">Hello World</a></li>
          <li class="li"><a href="/projects">Projects</a></li>
          <li class="li"><a href="/about">About Me</a></li>
        </ul>
      </header>
      <div class="lila-nav"></div>
      <!--3.ABOUT ME-->
      <section id="about-me">
        <!--3.1.TITLE-->
        <div>
          <h2>
            Page not found <br />
            The link you clicked may be broken or the page might have been
            removed. Visit the homepage or contact me about the problem.
          </h2>
        </div>
      </section>
      <div class="lila"></div>
      <!--4.FOOTER-->
      <footer>
        <div>
          <a href="mailto:tashfonetikas@gmail.com?subject=Hi from Website"
            >©2019 Tash Tenner</a
          >
        </div>
      </footer>
    </div>
    <script src="./../public/index.js"></script>
  </body>
</html>
