<!DOCTYPE html>
<html>
  <head>
    <title>Tash Tenner - Developer & Linguist</title>
    <meta charset="utf-8" />
    <!--Viewport meta tag allows us to control the viewport’s size and scale.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--CSS, reset, normalize, main-->
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header class="nav">
        <ul class="ul">
          <li class="li"><a href="/">Hello World</a></li>
          <li class="li"><a href="/projects">Projects</a></li>
          <li class="li"><a href="/about">About Me</a></li>
        </ul>
      </header>
      <div class="lila-nav"></div>
      <!--3.ABOUT ME-->
      <section id="about-me">
        <!--3.1.TITLE-->
        <div>
          <h2>If you speak at least one language then you can code, too.</h2>
        </div>
        <div>
          <h2>LOREM IPSUM</h2>
        </div>
        <!--3.2.SKILLS, EDUCATION, EXPERIENCE-->
        <div class="skills-countries">
          <p class="subsection-title">Coding skills</p>
          <p class="subsection-list">HTML, CSS, JavaScript</p>
        </div>
        <div class="skills-countries">
          <p class="subsection-title">Linguistic skills</p>
          <p class="subsection-list">English, German, etc</p>
        </div>
        <div class="skills-countries">
          <p class="subsection-title">Overseas experience</p>
          <p class="subsection-list">Germany, Armenia, Cuba, etc</p>
        </div>
        <!--3.3.LINKS-->
        <a target="_blank" href="">CV</a>
        <span>|</span>
        <a target="_blank" href="">LinkedIn</a>
        <span>|</span>
        <a target="_blank" href="">GitHub</a>
        <span>|</span>
        <a target="_blank" href="">Email</a>
        <!--3.4.PHOTO-->
        <img alt="" />
        <!--src=""-->
      </section>
      <div class="lila"></div>
      <!--4.FOOTER-->
      <footer>
        <div>
          <a href="mailto:tashfonetikas@gmail.com?subject=Hi from Website"
            >©2019 Tash Tenner</a
          >
        </div>
      </footer>
    </div>
    <script src="./../public/index.js"></script>
  </body>
</html>
