<!DOCTYPE html>
<html>
  <head>
    <title>Tash Tenner - Developer & Linguist</title>
    <meta charset="utf-8" />
    <!--Viewport meta tag allows us to control the viewport’s size and scale.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--CSS, reset, normalize, main-->
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header class="nav">
        <ul class="ul">
          <li class="li"><a href="/">Hello World</a></li>
          <li class="li"><a href="/projects">Projects</a></li>
          <li class="li"><a href="/about">About Me</a></li>
        </ul>
      </header>
      <div class="lila-nav"></div>
      <!--1.HELLO-->
      <section id="hello">
        <!--1.1.TITLE-->
        <div>
          <div class="margin-bottom">
            <h1>
              <!--in the making-->
              Full Stack Developer<br />
              - From Linguistics to Web Development -
            </h1>
          </div>
          <div>
            <h2>Multilingual German native<br />based in Barcelona</h2>
          </div>
          <!--1.2.I AM-->
          <div>
            <h2>
              Hello! I am Tash, <span class="change-text">#Linguist</span>
            </h2>
          </div>
        </div>
      </section>
      <div class="lila"></div>
      <!--4.FOOTER-->
      <footer>
        <div>
          <a href="mailto:tashfonetikas@gmail.com?subject=Hi from Website"
            >©2019 Tash Tenner</a
          >
        </div>
      </footer>
    </div>
    <script src="./../public/index.js"></script>
  </body>
</html>
