<!DOCTYPE html>
<html>
  <head>
    <title>Tash Tenner - Developer & Linguist</title>
    <meta charset="utf-8" />
    <!--Viewport meta tag allows us to control the viewport’s size and scale.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--CSS, reset, normalize, main-->
    <link rel="stylesheet" type="text/css" href="/CSS/reset.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header class="nav">
        <ul class="ul">
          <li class="li"><a href="/">Hello World</a></li>
          <li class="li"><a href="/projects">Projects</a></li>
          <li class="li"><a href="/about">About Me</a></li>
        </ul>
      </header>
      <div class="lila-nav"></div>
      <!--2.PROJECTS-->
      <section id="projects">
        <div class="general-box-projects">
          <div class="project-title margin-bottom">
            <span>Projects</span>
          </div>
          <!--2.1.PROJECT LIST-->
          <div class="project-flex">
            <!--2.1.1.PERSONAL WEBSITE-->
            <div class="project-flex-item">
              <div class="flex-center margin-bottom">
                <span>Personal Website</span>
              </div>
              <div class="project-image-box flex-center margin-bottom">
                <img
                  class="project-image"
                  src="/img/340x120.png"
                  alt="Personal Website logo"
                />
              </div>
              <div class="project-details margin-bottom">
                <span>Lorem Ipsum - textblock</span>
              </div>
            </div>
            <!--2.2.FONETIKAS GAME-->
            <div class="project-flex-item">
              <div class="flex-center margin-bottom">
                <span>Fonetikas</span>
              </div>
              <div class="project-image-box flex-center margin-bottom">
                <img
                  class="project-image"
                  src="/img/340x120.png"
                  alt="Fonetikas logo"
                />
              </div>
              <div class="project-details margin-bottom">
                <span>Lorem Ipsum</span>
              </div>
            </div>
            <!--2.3.HOCHZEIT-->
            <div class="project-flex-item">
              <div class="flex-center margin-bottom">
                <span>Hochzeit</span>
              </div>
              <div class="project-image-box flex-center margin-bottom">
                <img
                  class="project-image"
                  src="/img/340x120.png"
                  alt="Hochzeit logo"
                />
              </div>
              <div class="project-details margin-bottom">
                <span>Lorem Ipsum</span>
              </div>
            </div>
            <!--2.4.BAILO.APP WEB-->
            <div class="project-flex-item">
              <div class="flex-center margin-bottom">
                <span>Bailo.app Web</span>
              </div>
              <div class="project-image-box flex-center margin-bottom">
                <img
                  class="project-image"
                  src="/img/340x120.png"
                  alt="Bailo.app Web logo"
                />
              </div>
              <div class="project-details margin-bottom">
                <span>Lorem Ipsum</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="lila"></div>
      <!--4.FOOTER-->
      <footer>
        <div>
          <a href="mailto:tashfonetikas@gmail.com?subject=Hi from Website"
            >©2019 Tash Tenner</a
          >
        </div>
      </footer>
    </div>
    <script src="./../public/index.js"></script>
  </body>
</html>
